header {
    background-color: rgb(181, 237, 252);
    margin: 0pc 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    margin: 5vh 0vh 0vh 0vh;
    border-color: rgb(87, 219, 255);
    border-radius: 10%;

}

.heroSearch {
    margin: 20px 10px 20px 0px;
}
