header {
    background-color: rgb(205, 252, 253);
    margin: 0pc 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sinput {
    margin: 20px 10px 20px 0px;
    border-color: rgb(87, 219, 255);
    border-radius: 15%;
}

