header {
    background-color: rgb(205, 252, 253);
    margin: 0pc 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sinput {
    margin: 30px 10px 30px 0px;
    border-color: rgb(87, 219, 255);
    border-radius: 15%;
}

.liyst {
    background-color: rgb(45, 211, 203);
    height: 83%;
    border-radius: 20% 20% 0% 0%;
    padding-right: 2vw;
}

